{% extends "/html/base.html" %}
{% block content %}

<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1PBoDFUvxXzhmjSy0LmIn2EPsKkA" width="640" height="480"></iframe>

<br/>
Las aventuras de Duke (AKA Java Day Tour) es un proyecto del  <a href="http://www.guate-jug.net/">grupo de usuarios Java de Guatemala</a>.
<br/>
<br/>
En GuateJUG creemos que las ciencias de la computación tambien son una via de desarrollo, y queremos ser parte del cambio. Visita nuestra sección <a href="/duke-adventures/pages/acerca-de/">acerca dé</a> para más información.
<br/>
<br/>

{% endblock %}
